* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* header styles start */


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header a {
  text-decoration: none;
  color: black;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.80vw;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}


/* header styles end */


/* coding images section styles start */


.coding-images {
  display: flex;
}

.coding-images img {
  width: 34vw;
  height: 64vh;
}


/* coding images section styles end */



/* utility class for a tan block */


.tan-block {
  height: 27vh;
  background-color: beige;
}


/* utility class for a tan block */


/* about me section styles start  */


.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  height: 100vh;
}

.about h2 {
  font-size: 40px;
  font-weight: bold;
}

.about p {
  width: 50vw;
  font-size: 20px;
}

.about-me-column {
  display: flex;
  flex-direction: column;
}


/* about me section styles end */


/* work section styles start */


.work-wrapper {
  height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.run-buddy img {
  width: 60vw;
}

.run-buddy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.work-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 50vh;
  background-color: lightblue;
}

.work-row img {
  width: 29vw;
}

.horiseon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* work section styles end */


/* contact me section styles start */


.contact {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact p {
  font-size: 30px;
  font-weight: bold;
}

.contact a {
  font-size: 30px;
}




















/* contact me section styles end */

































/* media queries for responsiveness */


@media screen and (min-width: 2560px) {
  header h1 {
    font-size: 80px;
  }

  nav {
    margin-right: 20px;
  }

  .about p {
    font-size: 55px;
  }

  .about-me-column h2 {
    font-size: 90px;
  }

  .work-wrapper h2 {
    font-size: 80px;
  }

  .work-wrapper h3 {
    font-size: 50px;
  }

  .work-wrapper p {
    font-size: 40px;
  }
  
  .contact p, .contact a {
    font-size: 70px;
  }
}




@media screen and (max-width: 980px) {
  
}









@media screen and (max-width: 768px) {
  .coding-images img {
    width: 33.3vw;
    height: 64vh;
  }

  .contact {
    flex-direction: column;
  }

  header nav ul li a {  
    font-size: 2.55vw;
  }

  .run-buddy img {
    width: 100vw;
  }

  .work-row {
    width: 100vw;
  }

  .work-row img {
    width: 48vw;
  }
}














@media screen and (max-width: 575px) {
  header {
    display: flex;
    flex-direction: column;
    width: 143vw;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .coding-images {
    display: flex;
    flex-direction: column;
  }

  .coding-images img {
    height: 35vh;
    width: 143vw;
  }

  .tan-block {
    width: 143vw;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 143vw;
  }

  .work-wrapper{
    width: 143vw;
  }

  .run-buddy img {
    width: 141vw;
    height: 42vh;
  }

  .work-row {
    width: 143vw;
  }

  .work-row img {
    width: 69vw;
    height: 30vh;
  }
  .contact {
    display: flex;
    flex-direction: column;
    width: 143vw;
  }

}