* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* header styles start */


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header a {
  text-decoration: none;
  color: black;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}


/* header styles end */


/* coding images section styles start */


.coding-images {
  display: flex;
}

.coding-images img {
  width: 34vw;
  height: 64vh;
}


/* coding images section styles end */



/* utility class for a tan block */


.tan-block {
  height: 27vh;
  background-color: beige;
}


/* utility class for a tan block */


/* about me section styles start  */


.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: cadetblue;
  height: 100vh;
}

.about h2 {
  font-size: 40px;
  font-weight: bold;
}

.about p {
  width: 50vw;
  font-size: 20px;
}

.about-me-column {
  display: flex;
  flex-direction: column;
}


/* about me section styles end */


/* work section styles start */


.work-wrapper {
  height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-wrapper img {
  width: 60vw;
}

.run-buddy {
  display: flex;
  flex-direction: column;
  align-items: center;
}





















/* work section styles end */








/* contact me section styles start */
































/* contact me section styles end */



























/* media queries for responsiveness */

@media screen and (max-width: 980px) {
  
}









@media screen and (max-width: 768px) {

}














@media screen and (max-width: 575px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header nav ul li a {
    font-size: 40px;
  }

  .coding-images {
    display: flex;
    flex-direction: column;
  }

  .coding-images img {
    width: 100vw;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
}